<h1>System Processes Spowned</h1>

<table border="1">
  <tr>
    <th>PID</th>
    <th>Process Name</th>
    <th>Owner</th>
    <th>cmdLine</th>
    <th>startTime</th>
    <th>endTime</th>
    <th>exitCode</th>
  </tr>
  <% @sys_procs.each do |proc| %>
      <tr>
        <td><%= proc.pid %></td>
        <td><%= proc.name %></td>
        <td><%= proc.owner %></td>
        <td><%= proc.cmdLine %></td>
        <td><%= proc.startTime %></td>
        <td><%= proc.endTime %></td>
        <td><%= proc.exitCode %></td>
      </tr>
  <% end %>
</table>